*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(165, 165, 165);
}

.container{
    display: flex;
    flex-direction: column;
    margin: 100px auto 0 auto;
    width: 350px;
    height: 350px;
    padding-top: 50px;
    background-color:rgb(255, 255, 255) ;
}
.signUp{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    font-size: 27px;
    font-weight: 650;
}

.form-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.form-container label{
    display: none;
}
.form-container input{
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    background-color:rgb(212, 212, 212);
    color: black;
    border-radius: 6px;
    box-sizing: border-box;
    border:none
}

.btn{
    margin: 10px auto 10px auto ;
    /* margin-left: auto;
    margin-right: auto; */
}
.container button{
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    border:none;
    background-color:rgb(29, 104, 58);
    color: white;
    font-size: 17px;
    font-weight: 450;
    cursor: pointer;
}
.container a{
    font-size: 18px;
    text-decoration: none;
    margin:10px auto 0 auto;
    color: rgb(255, 0, 0);
}

.have-account{
    margin:10px auto 0 auto;
    font-size: 18px;
}

.have-account a{
    text-decoration: none;
    color: rgb(29, 104, 58);
    font-weight: 650;
}

.msg{
    color: red;
    margin-bottom: 5px;
    font-size: 17px;
}