:root {
    --primaryColor: #e26d06;
    --mainWhite:#fff;
    --mainBlack:rgb(3, 3, 3);
    --mainGrey :#ececec;
    --mainSpacing :0.1rem;
    --mainTransition : all 0.3s linear;
}
*{
    padding: 0;
    margin: 0;
}
body{
    min-height: calc(100vh - 0px);
    background: url("../img/hero4.jpg") center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content : center;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 100px auto 0 auto;
    width: 350px;
    height: 350px;
    padding-top: 50px;
    background: rgba(255, 255, 255, 0.7);
}
.signUp{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    font-size: 27px;
    font-weight: 650;
}


.form-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.form-container label{
    display: none;
}
.form-container input{
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    background-color:rgb(133, 133, 133);
    border-radius: 6px;
    box-sizing: border-box;
    border: 0.2px solid #fff;
}
::placeholder {
    color:var(--mainWhite);
    font-size: 14px;
  }
  .form-container input:focus {
    outline: none !important;
    border: 0.2px solid var(--primaryColor);
  }


.btn{
    margin: 10px auto 10px auto ;
    /* margin-left: auto;
    margin-right: auto; */
}
.container button{
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    border:none;
    background-color:var(--primaryColor);
    color: white;
    font-size: 17px;
    font-weight: 450;
    cursor: pointer;
}

.container button:hover{
    background-color:#e78630;
}

.container a{
    font-size: 18px;
    text-decoration: none;
    margin:10px auto 0 auto;
    color: rgb(255, 0, 0);
}

.have-account{
    margin:10px auto 0 auto;
    font-size: 18px;
}

.have-account a{
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: 650;
}

.msg{
    color: red;
    margin-bottom: 5px;
    font-size: 17px;
}